@model IEnumerable<DeliveryApp.Models.Restaurants>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
    <div>
     @foreach (var restaurants in Model)
     {
         if(restaurants.spec==ViewBag.Spec)
         {
             <a href="~/Dishes/Index/@ViewBag.Spec/@restaurants.id">@restaurants.name</a>
             <p>@restaurants.adress</p>
          }
     }

   </div>
</body>
</html>