@model IEnumerable<DeliveryApp.Models.Restaurants>
@{
    ViewData["Title"] = "Список еды";
    //Layout = null;
}
<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
    <title>Список ресторанов</title>
</head>
<body>
=======
>>>>>>> 92f5d53b91acf194562fa5c23a74eb222683ac5a
    <div>
     @foreach (var restaurants in Model)
     {
         if(restaurants.spec==ViewBag.Spec)
         {
             <a href="~/Dishes/Index/@ViewBag.Spec-@restaurants.id">@restaurants.name</a>
             <p>@restaurants.adress</p>
          }
     }
