@model IEnumerable<DeliveryApp.Models.Restaurants>
@{
    ViewData["Title"] = "Список еды";
    //Layout = null;
}
    <div>
     @foreach (var restaurants in Model)
     {
         if(restaurants.spec==ViewBag.Spec)
         {
             <a href="~/Dishes/Index/@ViewBag.Spec-@restaurants.id">@restaurants.name</a>
             <p>@restaurants.adress</p>
          }
     }
